# Telegram Bot Token (получить у @BotFather)
BOT_TOKEN=8615284434:AAHmOIe6s1fgddgN7ILHf5znztd_dfgcb8Q

# ID администраторов через запятую (узнать у @userinfobot)
ADMIN_IDS=5051296134

# Опционально: ID канала/группы для дублирования заявок
LOG_CHAT_ID=
